*{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
nav{
    padding: 2vw;
    margin: auto;
    background: lightblue;
}
nav ul{
    padding-left: 0;
    list-style: none;
}
nav li{
    display: inline;
    padding: 2vw;
    border: 2px solid black;
}
h1{
    font: Flavors;
    color: rebeccapurple;
}
.flavors-regular {
    font-family: "Flavors", cursive;
    font-weight: 400;
    font-style: normal;
}
p{
    font: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
main{
    height: 100vh;
}
div{
    width: 80vw;
    margin: 0 auto;
}
img{
    max-width: 80%;
    height: auto;
}
#scary_button{
    background: darkred;
    font: Flavors;
    color: white;
}

header{
    background: lightcyan;
    padding: 2vw;
}

button{
    margin: 2vw;
    padding: 1vw;
}

#scary{
    display: none;
}