*{
    margin: 0;
}
nav{
    padding: 5px;
    margin: auto;
}
nav ul{
    padding-left: 0;
    list-style: none;
}
nav li{
    display: inline;
    padding: 5px;
    border-right: 2px solid black;
}
h1{
    font: Flavors;
    color: rebeccapurple;
}
.flavors-regular {
    font-family: "Flavors", cursive;
    font-weight: 400;
    font-style: normal;
}
p{
    font: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
main{
    height: 100vh;
}
div{
    width: 80vw;
    margin: 0 auto;
}
img{
    max-width: 80vw;
}